mixin head(data)
  - var og = Object.assign({}, pages.default.og, data.og)
  - data = Object.assign({}, pages.default, data);
  - data.og = og;
  - data.og.image = data.url + data.og.image;

  meta(charset="UTF-8")
  meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
  title #{data.title}
  link(rel="stylesheet" href="/css/style.css")
  //--------------------------------------------------------------------------------
  //- meta
  //--------------------------------------------------------------------------------
  meta(name="description" content="#{data.description}")
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  //--------------------------------------------------------------------------------
  //- favicon
  //--------------------------------------------------------------------------------
  link(rel="manifest" href="/manifest.json")
  link(rel="icon" type="image/png"   sizes="16x16"   href="/images/favicons/favicon-16x16.png")
  link(rel="icon" type="image/png"   sizes="32x32"   href="/images/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png"   sizes="96x96"   href="/images/favicons/favicon-96x96.png")
  link(rel="icon" type="image/png"   sizes="192x192" href="/images/favicons/android-chrome-192x192.png")
  link(rel="apple-touch-icon"        sizes="57x57"   href="/images/favicons/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon"        sizes="60x60"   href="/images/favicons/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon"        sizes="72x72"   href="/images/favicons/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon"        sizes="76x76"   href="/images/favicons/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon"        sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon"        sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon"        sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon"        sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon"        sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png")
  meta(name="theme-color"             content="#ffffff")
  //--------------------------------------------------------------------------------
  //- meta:OGP
  //--------------------------------------------------------------------------------
  meta(property="og:title"       content="#{data.title}")
  meta(property="og:description" content="#{data.description}")
  meta(property="og:type"        content="#{data.og.type}")
  meta(property="og:url"         content="#{data.url}")
  meta(property="og:image"       content="#{data.og.image}")
